

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}
body {
    background-color: rgba(25, 27, 79, 0.773);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.profile {
    position: relative;
}
.profile-up {
    background-color: rgb(105, 45, 165);
    width: 250px;
    height: 340px;
    border-radius: 15px;
}
.pro-img {
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
}
img {
    margin-left: 18px;
    margin-top: 25px;
    width: 80px;
    height: 80px;
}
.info {
    color: white;
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
}
.profile-low {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 350px;
    top: 120px;
    border-radius: 15px;
    z-index: -1;
}
.date {
    position: absolute;
    top: 250px;
    left: 35px;
    color: #fff;
}
.date ul {
    margin-left: -10px;
    list-style-type: none;
    margin-top: -15px;
}

.date li {
    padding-bottom: 10px;
    margin-bottom: 8px;
    gap: 10px;
}
.cards {
    display: grid;
    gap: 30px;
    margin-left: 30px;
}
.first-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-1 {
    position: relative;
}

.up-1 {
    background-color: #ffa64d;
    width: 250px;
    height: 220px;
    border-radius: 20px;
}
.game {
    position: absolute;
    top: -33px; 
    rotate: 35deg;
    left: 140px;
    opacity: 0.4;
}
.icons {
    position: absolute;
    top: -20px; 
    rotate: 35deg;
    left: 140px;
    opacity: 0.4;
}

.low-1 {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 160px;
    top: 60px;
    border-radius: 20px;
}
.head {
    color: white;
    font-size: 17px;
    margin-left: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer {    
    color: white;
    padding: 0px 0 0 30px;
    font-size: 23px;
}

.card-2 {
    position: relative;
}
.up-2 {
    background-color: #709cf5;
    width: 250px;
    height: 220px;
    border-radius: 20px;
}


.low-2 {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 160px;
    top: 60px;
    border-radius: 20px;
}
.head {
    color: white;
    font-size: 17px;
    margin-left: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer {    
    color: white;
    padding: 0px 0 0 30px;
    font-size: 23px;
}

.card-3 {
    position: relative;
}
.up-3 {
    background-color: #ff6666;
    width: 250px;
    height: 220px;
    border-radius: 20px;
}
.low-3 {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 160px;
    top: 60px;
    border-radius: 20px;
}
.head {
    color: white;
    font-size: 17px;
    margin-left: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer {    
    color: white;
    padding: 0px 0 0 30px;
    font-size: 23px;
}

.second-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card-4 {
    position: relative;
}
.up-4 {
    background-color: #66ff99;
    width: 250px;
    height: 220px;
    border-radius: 20px;
}
.low-4 {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 160px;
    top: 60px;
    border-radius: 20px;
}
.head {
    color: white;
    font-size: 17px;
    margin-left: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer {    
    color: white;
    padding: 0px 0 0 30px;
    font-size: 23px;
}

.card-5 {
    position: relative;
}
.up-5 {
    background-color:#aa80ff;
    width: 250px;
    height: 220px;
    border-radius: 20px;
}
.low-5 {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 160px;
    top: 60px;
    border-radius: 20px;
}
.head {
    color: white;
    font-size: 17px;
    margin-left: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer {    
    color: white;
    padding: 0px 0 0 30px;
    font-size: 23px;
}


.card-6 {
    position: relative;
}
.up-6 {
    background-color: #ffff80;
    width: 250px;
    height: 220px;
    border-radius: 20px;
}
.low-6 {
    position: absolute;
    background-color: rgb(25, 38, 77);
    width: 250px;
    height: 160px;
    top: 60px;
    border-radius: 20px;
}
.head {
    color: white;
    font-size: 17px;
    margin-left: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer {    
    color: white;
    padding: 0px 0 0 30px;
    font-size: 23px;
}




