* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.view {
    position: relative;
    display: flex;
}
.block {
    
    width: 100px;
    height: 100px;
    background-color: rgb(213, 173, 173);
    border:1px solid brown;
}
.block {
    
    
    width: 100px;
    height: 100px;
    background-color: rgb(56, 29, 176);
    border:1px solid brown;
}